body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button, .logout-btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, .logout-btn:hover {
    background: #0056b3;
}

.message {
    color: red;
    text-align: center;
}

p {
    text-align: center;
}